/* The main styles file has been set to font-size: 62.5%. This to use rem equal 1rem = 10px; */

@import '../../index.scss';

.small__card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba($color-light, 0.2);
	backdrop-filter: blur(2rem);
	border-radius: 3rem;
	box-shadow: 0.5rem 1.5rem 4rem rgba($color-dark, 0.03);
	margin: 5rem 0;
	padding: 5rem 5rem;
	width: 80%;
}

.small__info {
	width: 50%;
}

.small__info--title {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.small__info--paragraph {
	font-size: 1.75rem;
}

.small__image--container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3rem;
	object-fit: cover;
	overflow: hidden;
	width: 40%;
}

.small__image {
	position: absolute;
	object-fit: contain;
	z-index: 1;
	width: 37rem;
	transition: all 0.3s;

	&:hover {
		transform: scale(1.05);
		-webkit-filter: drop-shadow(0.5rem 1.5rem 0.5rem rgba($color-dark, 0.3));
	}
}

.small__reverse {
	flex-direction: row-reverse;
	text-align: end;
}

@media (max-width: 1100px) {
	.small__card {
		padding: 5rem 3rem;
	}

	.small__info--title {
		font-size: 3rem;
	}

	.small__info--paragraph {
		font-size: 1.8rem;
	}

	.small__image {
		max-height: 45rem;
		max-width: 42rem;
	}
}

@media (max-width: 950px) {
	.small__card {
		padding: 5rem 1.5rem;
	}

	.small__info--title {
		font-size: 2.4rem;
	}

	.small__info--paragraph {
		font-size: 1.6rem;
	}

	.small__image {
		max-height: 38rem;
		max-width: 38rem;
	}
}

@media (max-width: 600px) {
	.small__card {
		flex-direction: column-reverse;
		justify-content: center;
		width: 100vw;
	}

	.reverse {
		text-align: start;
	}

	.small__info {
		width: 80%;
	}

	.small__image {
		position: relative;
		object-fit: scale-down;
		max-width: 100%;
	}

	.small__image--container {
		width: 100%;
	}
}
